<section class="text-gray-600 body-font " style="background-color: 524d5138;">
    <% if ( SuccessMsg.length > 0 ) { %>
        <div class="alert alert-success offset-md-2 col-md-7 text-center" role="alert">
            <p>Message: <%= SuccessMsg %> </p>
        </div>
    <% } %>

    <% if ( ErrorMsg.length > 0 ) { %>
        <div class="alert alert-danger offset-md-2 col-md-7 text-center" role="alert">
            <p>Message: <%= ErrorMsg %> </p>
        </div>
    <% } %>

    <div class="col-md-12">
        <h1 class="pt-3 text-center text-muted">List of Internships</h1>
    </div>

   
    <div class="row">
        
        <div class="row py-3">
            <div class="col-md-12 m-auto">
                <% result.forEach(function(el, index) { %>
                <div class="card">
                    <div class="card-body">
                            <h4 class="py-2 " ><strong><a href="/company/internsdetails/<%= el.p_id %>"><%= el.title %></a></strong></h4>
                            
                            <h6 class="card-subtitle mb-4 text-muted">Location: <%= el.city %></h6>
                            <div class="table-responsive">
                                <table class="table table-borderless">
                                    <thead>
                                        <tr class="text-muted">
                                            <th>Start Date</th>
                                            <th>Duration</th>
                                            <th>Stipend</th>
                                            <th>Posted on</th>
                                            <th>Apply by</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th><%= moment(el.start_date).format('Do MMMM, YYYY') %></th>
                                            <th><%= el.duration %> <%= el.duration_per %>/s</th>
                                            <th>₹ <%= el.stipend %> per <%= el.duration_per %></th>
                                            <th><%= moment(el.curr_date).format('Do MMMM, YYYY') %></th>
                                            <th><%= moment(el.last_date).format('Do MMMM, YYYY') %></th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                    </div>
                    <div class="card-footer py-1">
                        <a class="float-left text-info" href="/company/postdelete/<%= el.p_id %>">Delete</a>
                        <a class="float-right text-info" href="/company/internsdetails/<%= el.p_id %>">View Details</a>
                    </div>
                </div> 
                <% }) %>          
            </div>
        </div>
    </div>
</section>

